extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let earphonesid = toShow._id 
    - let earphone_name = toShow.earphone_name
    - let earphone_shape  = toShow.earphone_shape 
    - let earphone_radius = toShow.earphone_radius
    - let actionid = "/resource/earphones/" + earphonesid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='earphonesAttr mr-3') Earphones ID is: 
        div #{earphonesid} 
      div.row 
        div(class='earphonesAttr mr-3') Earphones Name is: 
        div #{earphone_name} 
      div.row 
        div(class='earphonesAttr mr-3') Earphones Shape is: 
        div #{earphone_shape} 
      div.row 
        div(class='earphonesAttr mr-3') Earphones Radius is: 
        div #{earphone_radius} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the earphones collection 
      window.location.href='/earphones' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/earphones' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }