extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-2" style=`border:solid 5px lime` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           earphone_name -  #{cin.earphone_name}
          p.
           earphone_shape -  #{cin.earphone_shape}
          p.
           earphone_radius  -  #{cin.earphone_radius}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }