extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-3 col-md-6 col-lg-4" style=`background-color:grey;color: white;font-family: "papyrus";border: 6px solid blue;border-radius: 19px; padding: 10px; border-inline-style: dotted; box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.5)`  onclick=`buy(${items.indexOf(cin)})`  ) 
          p(style=`text-shadow: 2px 2px 4px blue;font-size: 18px;`)
            | earphone_name - #{cin.earphone_name}
          p(style=`text-shadow: 1px 1px 2px red;font-size: 18px;`)
            | earphone_shape - #{cin.earphone_shape}
          p(style=`text-shadow: 1px 1px 2px yellow;font-size: 18px;`)
            | earphone_radius - #{cin.earphone_radius}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }